@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
.type {
  display: inline-block;
  min-width: 90px;
  margin: 0 auto;
  color: white;
  font-size: 23px;
  text-align: center;
  text-transform: uppercase;
}

.normal {
  background-color: #a8a878;
  box-shadow: 3px 0 #9e9e68, -3px 0 #9e9e68, 0 -3px #9e9e68, 0 3px #9e9e68;
  margin: 3px auto;
}

.normal::before {
  content: "normal";
}

.fire {
  background-color: rgb(242, 143, 62);
  box-shadow: 3px 0 #f08126, -3px 0 #f08126, 0 -3px #f08126, 0 3px #f08126;
  margin: 3px auto;
}

.fire::before {
  content: "fire";
}

.water {
  background-color: #6890f0;
  box-shadow: 3px 0 #517fee, -3px 0 #517fee, 0 -3px #517fee, 0 3px #517fee;
  margin: 3px auto;
}

.water::before {
  content: "water";
}

.grass {
  background-color: #78c850;
  box-shadow: 3px 0 #69c23d, -3px 0 #69c23d, 0 -3px #69c23d, 0 3px #69c23d;
  margin: 3px auto;
}

.grass::before {
  content: "grass";
}

.electric {
  background-color: rgb(194, 194, 42);
  box-shadow: 3px 0 #adad25, -3px 0 #adad25, 0 -3px #adad25, 0 3px #adad25;
  margin: 3px auto;
}

.electric::before {
  content: "electric";
}

.ice {
  background-color: #98d8d8;
  box-shadow: 3px 0 #86d1d1, -3px 0 #86d1d1, 0 -3px #86d1d1, 0 3px #86d1d1;
  margin: 3px auto;
}

.ice::before {
  content: "ice";
}

.fighting {
  background-color: #c03028;
  box-shadow: 3px 0 #ab2b24, -3px 0 #ab2b24, 0 -3px #ab2b24, 0 3px #ab2b24;
  margin: 3px auto;
}

.fighting::before {
  content: "fighting";
}

.poison {
  background-color: #a040a0;
  box-shadow: 3px 0 #8e398e, -3px 0 #8e398e, 0 -3px #8e398e, 0 3px #8e398e;
  margin: 3px auto;
}

.poison::before {
  content: "poison";
}

.ground {
  background-color: #e0c068;
  box-shadow: 3px 0 #dcb753, -3px 0 #dcb753, 0 -3px #dcb753, 0 3px #dcb753;
  margin: 3px auto;
}

.ground::before {
  content: "ground";
}

.flying {
  background-color: rgb(82, 102, 137);
  box-shadow: 3px 0 #485a79, -3px 0 #485a79, 0 -3px #485a79, 0 3px #485a79;
  margin: 3px auto;
}

.flying::before {
  content: "flying";
}

.psychic {
  background-color: #f85888;
  box-shadow: 3px 0 #f74077, -3px 0 #f74077, 0 -3px #f74077, 0 3px #f74077;
  margin: 3px auto;
}

.psychic::before {
  content: "psychic";
}

.bug {
  background-color: #a8b820;
  box-shadow: 3px 0 #94a21c, -3px 0 #94a21c, 0 -3px #94a21c, 0 3px #94a21c;
  margin: 3px auto;
}

.bug::before {
  content: "bug";
}

.rock {
  background-color: rgb(190, 173, 127);
  box-shadow: 3px 0 #b5a26e, -3px 0 #b5a26e, 0 -3px #b5a26e, 0 3px #b5a26e;
  margin: 3px auto;
}

.rock::before {
  content: "rock";
}

.ghost {
  background-color: #705898;
  box-shadow: 3px 0 #644f88, -3px 0 #644f88, 0 -3px #644f88, 0 3px #644f88;
  margin: 3px auto;
}

.ghost::before {
  content: "ghost";
}

.dark {
  background-color: #5b5974;
  box-shadow: 3px 0 #504e66, -3px 0 #504e66, 0 -3px #504e66, 0 3px #504e66;
  margin: 3px auto;
}

.dark::before {
  content: "dark";
}

.dragon {
  background-color: #7038f8;
  box-shadow: 3px 0 #5e1ff7, -3px 0 #5e1ff7, 0 -3px #5e1ff7, 0 3px #5e1ff7;
  margin: 3px auto;
}

.dragon::before {
  content: "dragon";
}

.steel {
  background-color: #b8b8d0;
  box-shadow: 3px 0 #a9a9c6, -3px 0 #a9a9c6, 0 -3px #a9a9c6, 0 3px #a9a9c6;
  margin: 3px auto;
}

.steel::before {
  content: "steel";
}

.fairy {
  background-color: #f0b6bc;
  box-shadow: 3px 0 #eca1a9, -3px 0 #eca1a9, 0 -3px #eca1a9, 0 3px #eca1a9;
  margin: 3px auto;
}

.fairy::before {
  content: "fairy";
}

@keyframes pikaMove {
  from {
    left: -500px;
    filter: invert(0);
    z-index: 2;
  }
  49% {
    transform: rotateY(0);
    filter: invert(0);
    z-index: 2;
  }
  50% {
    left: 110%;
    transform: rotateY(180deg);
    filter: invert(50%);
    z-index: 0;
  }
  99% {
    transform: rotateY(180deg);
    filter: invert(50%);
    z-index: 0;
  }
  to {
    left: -500px;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbfbfb;
  font-family: "Press Start 2P";
  background-image: url("https://user-images.githubusercontent.com/68218563/197870429-6c70718f-54dc-4712-94a1-5dcad026ca55.png");
  background-color: #9ac84e;
  background-size: contain;
  padding-bottom: 100px;
  position: relative;
  scroll-behavior: smooth;
}

header {
  width: 100%;
}
header .hero {
  width: 100%;
  height: 80vh;
  max-height: 700px;
  min-height: 310px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 120px;
  position: relative;
  overflow-x: hidden;
  background-image: url("https://user-images.githubusercontent.com/68218563/197868993-785755a1-6a76-481e-9979-34bbdb749a8c.svg"), linear-gradient(to top, #ffd538, #ffca2f, #ffbf26, #feb41f, #fda918);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-color: rgb(255, 213, 56);
}
header .hero .title {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}
header .hero .title h1 {
  font-size: 60px;
  line-height: 45px;
}
header .hero .title .logo {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  position: relative;
  bottom: 20px;
}
header .hero span {
  color: red;
}
header .hero .byme {
  text-align: center;
  position: relative;
  z-index: 1;
}
header .hero .byme span {
  padding: 2px 5px;
  background-color: #ffca05;
  box-shadow: 2px 0 #ffca05, -2px 0 #ffca05, 0 -2px #ffca05, 0 2px #ffca05, 4px 0 #ffca05, -4px 0 #ffca05, 0 -4px #ffca05, 0 4px #ffca05, 0 0 0 2px #ffca05, 6px 0 #ffca05, -6px 0 #ffca05, 0 6px #ffca05, 0 -6px #ffca05, 0 -2px 0 2px #ffca05, 0 2px 0 2px #ffca05, 2px 0 0 2px #ffca05, -2px 0 0 2px #ffca05, 8px 0 #d1a500, -8px 0 #d1a500, 0 -8px #d1a500, 0 8px #d1a500, 4px 0 0 2px #d1a500, -4px 0 0 2px #d1a500, 0 4px 0 2px #d1a500, 0 -4px 0 2px #d1a500, 0 0 0 4px #d1a500;
  margin: 8px auto;
}
header .hero .hero-gif {
  min-width: 250px;
  max-width: 280px;
  width: 20%;
  bottom: 0;
  right: 15px;
  position: absolute;
  animation-name: pikaMove;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
header .hero-sun {
  position: absolute;
  width: 100px;
  top: 50px;
  right: 20%;
}
header .searcher {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  max-height: 500px;
  min-height: 350px;
  width: 100%;
}
header .searcher .search-input__container {
  position: relative;
  border-radius: 10px;
  box-shadow: 15px 0px 20px #63862a, -15px 0px 20px #63862a;
  margin-bottom: 30px;
}
header .searcher .search-input__container .text-input {
  border: none;
  height: 60px;
  width: 100%;
  max-width: 310px;
  font-size: 1.2em;
  font-family: "Press Start 2P";
  text-transform: uppercase;
  padding: 10px 50px 10px 15px;
  box-shadow: 5px 0 lightgray, -5px 0 lightgray, 0 -5px lightgray, 0 5px lightgray, 10px 0 lightgray, -10px 0 lightgray, 0 -10px lightgray, 0 10px lightgray, 0 0 0 5px lightgray, 15px 0 rgb(81, 81, 81), -15px 0 rgb(81, 81, 81), 0 15px rgb(81, 81, 81), 0 -15px rgb(81, 81, 81), 0 -5px 0 5px rgb(81, 81, 81), 0 5px 0 5px rgb(81, 81, 81), 5px 0 0 5px rgb(81, 81, 81), -5px 0 0 5px rgb(81, 81, 81);
  margin: 15px auto;
  background-color: rgb(224, 224, 224);
  position: relative;
  z-index: 4;
}
header .searcher .search-input__container img {
  position: absolute;
  right: 0px;
  top: 10px;
  height: 70px;
}
header .searcher .show-favorites {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: calc(50% - 20px);
  background-color: rgb(224, 224, 224);
  box-shadow: 5px 0 rgb(224, 224, 224), -5px 0 rgb(224, 224, 224), 0 -5px rgb(224, 224, 224), 0 5px rgb(224, 224, 224), 10px 0 rgb(224, 224, 224), -10px 0 rgb(224, 224, 224), 0 -10px rgb(224, 224, 224), 0 10px rgb(224, 224, 224), 0 0 0 5px rgb(224, 224, 224), 15px 0 rgb(81, 81, 81), -15px 0 rgb(81, 81, 81), 0 15px rgb(81, 81, 81), 0 -15px rgb(81, 81, 81), 0 -5px 0 5px rgb(81, 81, 81), 0 5px 0 5px rgb(81, 81, 81), 5px 0 0 5px rgb(81, 81, 81), -5px 0 0 5px rgb(81, 81, 81);
  margin: 15px auto;
  transition: all 0.5s;
}
header .searcher .show-favorites figure {
  background-image: url("https://user-images.githubusercontent.com/68218563/198399898-2aa28e32-a2bf-4be5-9d6c-95c74550275d.png");
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
  width: 65px;
  height: 65px;
  position: relative;
  right: 12px;
  bottom: 13px;
}
header .searcher .show-favorites figure:hover {
  cursor: pointer;
}
header .searcher .show-favorites:active {
  bottom: 85px;
}
header .searcher input:focus {
  outline: none;
}
header .searcher .search-button__container {
  width: 200px;
  box-shadow: 15px 0px 25px #63862a, -15px 0px 25px #63862a;
  margin-bottom: 30px;
  margin: 0 auto;
  position: relative;
}
header .searcher .search-button {
  width: 200px;
  height: 50px;
  font-size: 1em;
  position: relative;
  z-index: 2;
  border: none;
  background-image: linear-gradient(to right, #a1dd9d, #8cd99d, #75d59f, #59d1a2, #31cda7);
  color: rgb(81, 81, 81);
  font-family: inherit;
  display: flex;
  box-shadow: 5px 0 #73d5a0, -5px 0 #73d5a0, 0 -5px #73d5a0, 0 5px #73d5a0, 10px 0 #1c8696, -10px 0 #1c8696, 0 -10px #1c8696, 0 10px #1c8696, 0 0 0 5px #1c8696;
  margin: 10px auto;
}
header .searcher .search-button span {
  margin-left: 40px;
  line-height: 50px;
  text-transform: uppercase;
}
header .searcher .search-button img {
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0px;
  top: 3px;
}
header .searcher button:hover {
  cursor: pointer;
}
header .search-button:focus {
  outline: none;
}
header .searcher:focus-within .show-favorites {
  display: block;
  animation-name: favMovement;
  animation-duration: 0.8s;
  bottom: 85px;
}
@keyframes favMovement {
  from {
    bottom: 0px;
  }
  to {
    bottom: 85px;
  }
}
header .down-arrow {
  position: absolute;
  bottom: 0;
  z-index: 1;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  background-image: url("https://user-images.githubusercontent.com/68218563/197870442-002113cd-491c-4772-acf2-772b0f3f11b8.png");
  background-repeat: no-repeat;
  transition: all 1s;
  background-size: cover;
}
header .down-arrow.move {
  transform: translateY(45px);
}

main {
  width: fit-content;
  min-width: 500px;
  max-width: 95%;
  padding: 10px 30px;
  margin: 0 auto;
  border: 5px solid black;
  background-color: #e93031;
  box-shadow: inset 0px 3px 10px #b52526, inset 0px -3px 10px #b52526, inset 3px 0px 10px #b52526, inset -3px 0px 10px #b52526, 0px 0px 20px #344616;
}
main .pokedex__container {
  box-shadow: 5px 0 rgb(81, 81, 81), -5px 0 rgb(81, 81, 81), 0 -5px rgb(81, 81, 81), 0 5px rgb(81, 81, 81), 10px 0 rgb(81, 81, 81), -10px 0 rgb(81, 81, 81), 0 -10px rgb(81, 81, 81), 0 10px rgb(81, 81, 81), 0 0 0 5px rgb(81, 81, 81), 15px 0 rgb(81, 81, 81), -15px 0 rgb(81, 81, 81), 0 15px rgb(81, 81, 81), 0 -15px rgb(81, 81, 81), 0 -5px 0 5px rgb(81, 81, 81), 0 5px 0 5px rgb(81, 81, 81), 5px 0 0 5px rgb(81, 81, 81), -5px 0 0 5px rgb(81, 81, 81), 20px 0 black, -20px 0 black, 0 -20px black, 0 20px black, 10px 0 0 5px black, -10px 0 0 5px black, 0 10px 0 5px black, 0 -10px 0 5px black, 0 0 0 10px black;
  margin: 20px auto;
  background-color: #d5d5d5;
  width: 100%;
}

.cards-container {
  width: 100%;
  max-height: 90vh;
  min-height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 5px 50px 10px;
  border: 3px solid black;
  overflow-y: scroll;
  scroll-behavior: smooth;
  position: relative;
  box-shadow: inset 0px 1px 10px rgb(85, 85, 85), inset 0px -1px 10px rgb(85, 85, 85), inset 1px 0px 10px rgb(85, 85, 85), inset -1px 0px 10px rgb(85, 85, 85), 0 0 0 0;
}
.cards-container .card {
  width: 200px;
  margin: 15px;
  transition: transform 0.5s;
}
.cards-container .card .card-header {
  margin-bottom: 15px;
}
.cards-container .card .card-header h4 {
  margin: 10px 0;
  color: black;
  text-transform: uppercase;
}
.cards-container .card .card-header .pokesprite {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-size: 110%;
  background-position: center;
}
.cards-container .card .card-header .pokemon-id {
  position: absolute;
  top: 0;
  left: 3px;
  font-family: "VT323";
  font-size: 1.5em;
}
.cards-container .card .card-body {
  font-family: "VT323";
  text-align: start;
}
.cards-container .card .card-body .poke-stat {
  font-size: 23px;
  margin-bottom: 8px;
  padding-left: 5px;
}
.cards-container .card .card-body .types-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 15px;
}
.cards-container .card .selected-card {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -30px;
  left: calc(50% - 15px);
  background-image: url("https://user-images.githubusercontent.com/68218563/197870442-002113cd-491c-4772-acf2-772b0f3f11b8.png");
  background-size: contain;
  display: none;
}
.cards-container .card:hover {
  transform: scale(1.05);
  box-shadow: 5px 0 rgb(255, 213, 56), -5px 0 rgb(255, 213, 56), 0 -5px rgb(255, 213, 56), 0 5px rgb(255, 213, 56), 10px 0 #ebb900, -10px 0 #ebb900, 0 -10px #ebb900, 0 10px #ebb900, 0 0 0 5px #ebb900;
  margin: 10px auto;
  margin: 15px;
  cursor: pointer;
}
.cards-container .card:hover .selected-card {
  display: block;
}

.card {
  box-shadow: 5px 0 rgb(224, 224, 224), -5px 0 rgb(224, 224, 224), 0 -5px rgb(224, 224, 224), 0 5px rgb(224, 224, 224), 10px 0 rgb(49, 49, 49), -10px 0 rgb(49, 49, 49), 0 -10px rgb(49, 49, 49), 0 10px rgb(49, 49, 49), 0 0 0 5px rgb(49, 49, 49);
  margin: 10px auto;
  aspect-ratio: 0.8;
  position: relative;
  text-align: center;
  background-color: rgb(224, 224, 224);
  background-image: url("https://user-images.githubusercontent.com/68218563/197868863-1394dede-bb87-4641-8522-03a6292d4364.png");
  background-position: center;
  background-size: 150%;
  background-repeat: no-repeat;
}

.cards-container::-webkit-scrollbar {
  width: 8px;
}

.cards-container::-webkit-scrollbar-track {
  background: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #6890f0;
  border: 2px solid black;
}

.cards-container::-webkit-scrollbar-thumb:active {
  background: #e93031;
}

.fullscreen-view__container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fullscreen-view__container .fullview {
  max-width: 800px;
  max-height: 80vh;
  padding-top: 60px;
}
.fullscreen-view__container .fullview .pokemon-name {
  text-transform: uppercase;
  max-width: 300px;
}
.fullscreen-view__container .fullview figure {
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: 0 auto 10px;
}
.fullscreen-view__container .fullview .pokemon-id {
  position: absolute;
  top: 5px;
  left: 10px;
  padding: 0px 5px;
  color: rgb(81, 81, 81);
  background-color: #ffca05;
  box-shadow: 4px 0 #ffca05, -4px 0 #ffca05, 0 -4px #ffca05, 0 4px #ffca05, 8px 0 #d1a500, -8px 0 #d1a500, 0 -8px #d1a500, 0 8px #d1a500, 0 0 0 4px #d1a500;
  margin: 8px auto;
}
.fullscreen-view__container .fullview .pokemon-stats {
  font-family: "VT323";
  font-size: 2rem;
  text-align: left;
  padding: 20px 10px;
}
.fullscreen-view__container .favorite-button {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: calc(50% - 30px);
}
.fullscreen-view__container .favorite-button figure {
  width: 100%;
  height: 100%;
  margin: 0;
}
.fullscreen-view__container .favorite-button:hover {
  cursor: pointer;
}
.fullscreen-view__container .close-button {
  position: absolute;
  top: -25px;
  right: -10px;
  padding: 3px 4px 3px 6px;
  background-color: rgb(224, 224, 224);
  border: none;
  font-family: inherit;
  font-size: 1.1em;
  text-align: center;
  box-shadow: 5px 0 rgb(224, 224, 224), -5px 0 rgb(224, 224, 224), 0 -5px rgb(224, 224, 224), 0 5px rgb(224, 224, 224), 10px 0 rgb(224, 224, 224), -10px 0 rgb(224, 224, 224), 0 -10px rgb(224, 224, 224), 0 10px rgb(224, 224, 224), 0 0 0 5px rgb(224, 224, 224), 15px 0 rgb(49, 49, 49), -15px 0 rgb(49, 49, 49), 0 15px rgb(49, 49, 49), 0 -15px rgb(49, 49, 49), 0 -5px 0 5px rgb(49, 49, 49), 0 5px 0 5px rgb(49, 49, 49), 5px 0 0 5px rgb(49, 49, 49), -5px 0 0 5px rgb(49, 49, 49);
  margin: 15px auto;
}
.fullscreen-view__container .close-button .hitbox {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -15px;
  right: -10px;
  border-radius: 50%;
}
.fullscreen-view__container .close-button:hover {
  cursor: pointer;
  background-color: #c7c7c7;
  box-shadow: 5px 0 #c7c7c7, -5px 0 #c7c7c7, 0 -5px #c7c7c7, 0 5px #c7c7c7, 10px 0 #c7c7c7, -10px 0 #c7c7c7, 0 -10px #c7c7c7, 0 10px #c7c7c7, 0 0 0 5px #c7c7c7, 15px 0 rgb(49, 49, 49), -15px 0 rgb(49, 49, 49), 0 15px rgb(49, 49, 49), 0 -15px rgb(49, 49, 49), 0 -5px 0 5px rgb(49, 49, 49), 0 5px 0 5px rgb(49, 49, 49), 5px 0 0 5px rgb(49, 49, 49), -5px 0 0 5px rgb(49, 49, 49);
  margin: 15px auto;
}

.toastify {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3em;
  width: fit-content;
  max-width: calc(100vw - 40px);
  padding-top: 9px;
  padding-bottom: 7px;
}

.toastify.red {
  background-image: linear-gradient(to right, #f73526, #e93322, #dc311f, #ce2f1b, #c12d18);
  box-shadow: 5px 0 #dc311f, -5px 0 #dc311f, 0 -5px #dc311f, 0 5px #dc311f, 10px 0 #922113, -10px 0 #922113, 0 -10px #922113, 0 10px #922113, 0 0 0 5px #922113;
  margin: 10px auto;
}

.toastify.green {
  background-image: linear-gradient(to right, #a1dd9d, #8cd99d, #75d59f, #59d1a2, #31cda7);
  box-shadow: 5px 0 #73d5a0, -5px 0 #73d5a0, 0 -5px #73d5a0, 0 5px #73d5a0, 10px 0 #1c8696, -10px 0 #1c8696, 0 -10px #1c8696, 0 10px #1c8696, 0 0 0 5px #1c8696;
  margin: 10px auto;
}

.toastify.yellow {
  background-image: linear-gradient(to right, #fac501, #fdd600, #fac501, #f5b407, #efa310);
  box-shadow: 5px 0 #f9e108, -5px 0 #f9e108, 0 -5px #f9e108, 0 5px #f9e108, 10px 0 #7b4a00, -10px 0 #7b4a00, 0 -10px #7b4a00, 0 10px #7b4a00, 0 0 0 5px #7b4a00;
  margin: 10px auto;
}

@media (max-width: 500px) {
  header .hero .title h1 {
    margin-bottom: 20px;
    font-size: 45px;
  }
  header .hero .title .logo {
    position: absolute;
    top: -75px;
  }
  header .searcher .search-input__container .text-input {
    max-width: 290px;
  }
  main {
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 400px) {
  main {
    border-left: none;
    border-right: none;
  }
}

/*# sourceMappingURL=style.css.map */
