@use "8bit-border" as b;
@import "types.scss";
@import "animations.scss";

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

$background-white: #fbfbfb;
$pixeled: "Press Start 2P";
$pixeled2: "VT323";
$card-background: rgb(224, 224, 224);
$black: rgb(81, 81, 81);
$pikayellow: rgb(255, 213, 56);
$searcher-color: #fbfbfb;
$grassgreen: #9ac84e;

@mixin innerShadow($width, $extension, $color, $extra: 0 0 0 0) {
  box-shadow: inset 0px $width $extension $color,
    inset 0px calc($width * -1) $extension $color,
    inset $width 0px $extension $color,
    inset calc($width * -1) 0px $extension $color, $extra;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $background-white;
  font-family: $pixeled;
  background-image: url("https://user-images.githubusercontent.com/68218563/197870429-6c70718f-54dc-4712-94a1-5dcad026ca55.png");
  background-color: $grassgreen;
  background-size: contain;
  padding-bottom: 100px;
}

header {
  width: 100%;

  .hero {
    width: 100%;
    height: 80vh;
    max-height: 700px;
    min-height: 310px;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 120px;

    position: relative;
    overflow-x: hidden;
    background-image: url("https://user-images.githubusercontent.com/68218563/197868993-785755a1-6a76-481e-9979-34bbdb749a8c.svg"), linear-gradient(to top, #ffd538, #ffca2f, #ffbf26, #feb41f, #fda918);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-color: $pikayellow;

    .title {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;

      h1 {
        font-size: 60px;
        line-height: 45px;
      }

      .logo {
        width: 75px;
        height: 75px;
        margin-right: 10px;
        position: relative;
        bottom: 20px;
      }
    }

    span {
      color: red;
    }

    .byme {
      text-align: center;
      position: relative;
      z-index: 1;

      span {
        padding: 2px 5px;
        background-color: darken($pikayellow, 10%);
        @include b.px4(2px, darken($pikayellow, 20%), darken($pikayellow, 10%));
      }
    }

    .hero-gif {
      min-width: 250px;
      max-width: 280px;
      width: 20%;
      bottom: 0;
      right: 15px;
      position: absolute;
      animation-name: pikaMove;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  .hero-sun {
    position: absolute;
    width: 100px;
    top: 50px;
    right: calc(20%);
  }

  .searcher {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 60vh;
    max-height: 500px;
    min-height: 350px;
    width: 100%;

    .search-input__container {
      position: relative;
      border-radius: 10px;
      box-shadow: 15px 0px 20px darken($grassgreen, 20%),
        -15px 0px 20px darken($grassgreen, 20%);
      margin-bottom: 30px;

      .text-input {
        border: none;
        height: 60px;
        width: 100%;
        max-width: 310px;
        font-size: 1.2em;
        font-family: $pixeled;
        text-transform: uppercase;
        padding: 10px 50px 10px 15px;
        @include b.px3(5px, $black, darken($card-background, 5%));
        background-color: $card-background;
        // text-align: center;
      }

      img {
        position: absolute;
        right: 0px;
        top: 10px;
        height: 70px;
      }
    }

    input:focus {
      outline: none;
    }

    .search-button__container {
      width: 200px;
      box-shadow: 15px 0px 25px darken($grassgreen, 20%),
        -15px 0px 25px darken($grassgreen, 20%);
      margin-bottom: 30px;
      margin: 0 auto;
    }

    .search-button {
      width: 200px;
      height: 50px;
      font-size: 1em;
      position: relative;
      border: none;
      background-image: linear-gradient(
        to right,
        #a1dd9d,
        #8cd99d,
        #75d59f,
        #59d1a2,
        #31cda7
      );
      color: $black;
      font-family: inherit;
      display: flex;
      @include b.px2(5px, #1c8696, #73d5a0);

      span {
        margin-left: 40px;
        line-height: 50px;
        text-transform: uppercase;
      }

      img {
        width: 45px;
        height: 45px;
        position: absolute;
        right: 0px;
        top: 3px;
      }
    }

    button:hover {
      cursor: pointer;
    }

    // .searcher-form {

    // }
  }
}

main {
  width: fit-content;
  min-width: 500px;
  max-width: 95%;
  padding: 10px 30px;
  margin: 0 auto;
  border: 5px solid black;
  background-color: #e93031;
  @include innerShadow(3px, 10px, #b52526, 0px 0px 20px #344616);

  .pokedex__container {
    @include b.px4(5px, black, $black);
    background-color: #d5d5d5;
    width: 100%;
  }
}

.cards-container {
  width: 100%;
  // max-height: calc(100vh - 70px);
  max-height: 90vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 5px 50px 10px;
  border: 3px solid black;
  overflow-y: scroll;
  @include innerShadow(1px, 10px, rgb(85, 85, 85));

  .card {
    @include b.px2(5px, rgb(49, 49, 49), $card-background);
    aspect-ratio: 0.8;
    position: relative;
    width: 200px;
    margin: 15px;
    text-align: center;
    transition: transform 0.5s;
    background-color: $card-background;
    background-image: url("https://user-images.githubusercontent.com/68218563/197868863-1394dede-bb87-4641-8522-03a6292d4364.png");
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;

    .card-header {
      margin-bottom: 15px;
      h4 {
        margin: 10px 0;
        color: black;
        text-transform: uppercase;
      }

      .pokesprite {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background-size: 110%;
        background-position: center;
      }
    }

    .card-body {
      font-family: $pixeled2;
      text-align: start;

      .poke-stat {
        font-size: 23px;
        margin-bottom: 8px;
        padding-left: 5px;
      }

      .types-container {
        display: flex;
        justify-content: space-evenly;
        margin: 0 0 15px;
      }
    }

    .selected-card {
      position: absolute;
      width: 30px;
      height: 30px;
      top: -30px;
      left: calc(50% - 15px);
      background-image: url("https://user-images.githubusercontent.com/68218563/197870442-002113cd-491c-4772-acf2-772b0f3f11b8.png");
      background-size: contain;
      display: none;
    }
  }

  .card:hover {
    transform: scale(1.05);
    @include b.px2(5px, darken($pikayellow, 15%), $pikayellow);
    margin: 15px;
    cursor: pointer;

    .selected-card {
      display: block;
    }
  }
}

.cards-container::-webkit-scrollbar {
  width: 8px;
}

.cards-container::-webkit-scrollbar-track {
  background: transparent;
}

.cards-container::-webkit-scrollbar-thumb {
  background: #6890f0;
  border: 2px solid black;
}

.cards-container::-webkit-scrollbar-thumb:active {
  background: #e93031;
}

.toastify {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3em;
  width: fit-content;
  max-width: calc(100vw - 40px);
  padding-top: 9px;
  padding-bottom: 7px;
}

.toastify.red {
  background-image: linear-gradient(to right, #f73526, #e93322, #dc311f, #ce2f1b, #c12d18);

  @include b.px2(5px, #922113, #dc311f);
}

.toastify.green {
  background-image: linear-gradient(
    to right,
    #a1dd9d,
    #8cd99d,
    #75d59f,
    #59d1a2,
    #31cda7
  );

  @include b.px2(5px, #1c8696, #73d5a0);
}


@media (max-width: 500px) {
  header {
    .hero {
      .title {
        h1 {
          margin-bottom: 20px;
          font-size: 45px;
        }

        .logo {
          position: absolute;
          top: -75px;
        }
      }
    }

    .searcher {
      .search-input__container {
        .text-input {
          max-width: 290px;
        }
      }
    }
  }

  main {
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    margin: 0;
  }
}

@media (max-width: 400px) {
  main {
    border-left: none;
    border-right: none;
  }
}